services:
  proxy:
    ports:
      - "8010:80"
  backend:
    environment:
      - POSTGRES_PORT=5432
  celery_worker:
    environment:
      - POSTGRES_PORT=5432
  prestart:
    environment:
      - POSTGRES_PORT=5432
