services:
  proxy:
    ports:
      - "8001:80"
  backend:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
      - ./backend/app:/app/app
      - ./backend/tests:/app/tests
    environment:
      - POSTGRES_PORT=5432
  celery_worker:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
    environment:
      - POSTGRES_PORT=5432
  prestart:
    environment:
      - POSTGRES_PORT=5432
