services:
  proxy:
    ports:
      - "8050:80"
  backend:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
      - ./backend/app:/app/app
      - ./backend/scripts:/app/scripts
    environment:
      - POSTGRES_PORT=5432
  celery_worker:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
      - ./backend/app:/app/app
    environment:
      - POSTGRES_PORT=5432
  prestart:
    environment:
      - POSTGRES_PORT=5432
