services:
  proxy:
    ports:
      - "8030:80"
  backend:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
    environment:
      - POSTGRES_PORT=5432
      - REDIS_PORT=6379
  celery_worker:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
    environment:
      - POSTGRES_PORT=5432
      - REDIS_PORT=6379
  prestart:
    environment:
      - POSTGRES_PORT=5432
      - REDIS_PORT=6379

