services:
  proxy:
    ports:
      - "8070:80"
  backend:
    environment:
      - POSTGRES_PORT=5432
  celery_worker:
    environment:
      - POSTGRES_PORT=5432
  prestart:
    environment:
      - POSTGRES_PORT=5432
  frontend:
    build:
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
