services:
  proxy:
    ports:
      - "3001:80"
  backend:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
    environment:
      - POSTGRES_PORT=5432
  celery_worker:
    volumes:
      - /home/mark/omc/logs/hub:/var/log/omc-agents
    environment:
      - POSTGRES_PORT=5432
  prestart:
    environment:
      - POSTGRES_PORT=5432
  frontend:
    build:
      context: ./frontend
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
